<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid bg-white" id="header">
      <!-- Nombre de la sección -->
      <a class="navbar-brand" href="#" style="color: gray;">{{section}}</a>
  
      <!-- Botón de menú (para móviles) -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Menú de navegación -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <!-- Barra de búsqueda -->
        <form class="d-flex ms-auto">
          <input class="form-control me-2" type="search" placeholder="🔍︎  Search anything" aria-label="Search">
        </form>
  
        <!-- Icono de notificaciones -->
        <div class="d-flex align-items-center ms-0">
            <!-- Botón de notificaciones -->
            <div class="dropdown">
              <button class="btn position-relative p-0" (click)="toggleNotifications()">
                <div id="notification-icon" class="d-flex justify-content-center align-items-center">
                  <mat-icon id="dot" class="icon-logo">fiber_manual_record</mat-icon>
                  <mat-icon class="icon-logo material-icons-outlined" style="color: #2c3e50; font-size: 1.5rem;">notifications</mat-icon>
                </div>  
              </button>
          
              <!-- Dropdown de notificaciones -->
              <ul class="dropdown-menu dropdown-menu-end" [class.show]="isNotificationsOpen">
                <li *ngFor="let notification of notifications">
                  <a class="dropdown-item" href="#" (click)="viewNotification(notification)">
                    {{ notification }}
                  </a>
                </li>
                <li *ngIf="notifications.length === 0">
                  <a class="dropdown-item text-muted" href="#">No hay notificaciones</a>
                </li>
              </ul>
            </div>
          </div>
  
        <!-- Menú de usuario -->
        <div class="dropdown ms-3">
            <!-- Botón del menú -->
            <button class="btn btn-link d-flex align-items-center p-0" type="button" (click)="toggleUserMenu()">
              <!-- Imagen del usuario -->
              <img [src]="user.imageUrl" alt="User Avatar" class="rounded" width="31.98" height="31.98" style="border-radius: 2px">
              <div class="d-flex flex-column align-items-start">
              <!-- Nombre del usuario -->
                <span class="ms-2 " style="font-size: 0.8rem; font-weight: 500; color: #474E54;">{{ user.name }}</span>
                <span class="ms-2 " style="font-size: 0.6rem; color: #474E54;">{{ user.role }}</span>
              </div>
              <div class="d-flex justify-content-center align-items-center">
                <mat-icon id="down-icon" class="material-icons-outlined" >keyboard_arrow_down</mat-icon>
              </div>  
            </button>
          
            <!-- Menú desplegable -->
            <ul class="dropdown-menu dropdown-menu-end" [class.show]="isUserMenuOpen" aria-labelledby="userMenuButton">
              <li>
                <a class="dropdown-item" href="#">
                  <strong>{{ user.name }}</strong>
                  <small class="d-block text-muted">{{ user.role }}</small>
                </a>
              </li>
              <li><a class="dropdown-item" href="#">Mi Perfil</a></li>
              <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
            </ul>
          </div>
      </div>
    </div>
  </nav>
  