<div class="metric-container wrap">
    <!-- Tarjeta 1: Total Bookings -->
    <div class="metric-card">
      <div class="d-flex flex-col align-items-center">
        <div class="icon-cont">
          <mat-icon class="metric-icon">calendar_today</mat-icon>
        </div>
        <div class="metric-content">
          <h3 class="metric-value">1,250</h3> 
          <p class="metric-label">Total Bookings</p>
        </div>
        <span class="metric-percentage positive">+12%</span>
      </div>
    </div>
  
    <!-- Tarjeta 2: Total New Customers -->
    <div class="metric-card">
      <div class="d-flex flex-col align-items-center">
        <div class="icon-cont">
          <mat-icon class="metric-icon">person_add</mat-icon>
        </div>
        <div class="metric-content">
          <h3 class="metric-value">320</h3>
          <p class="metric-label">Total New Customers</p>
        </div>
        <span class="metric-percentage negative">-5%</span>
    </div>
    </div>
  
    <!-- Tarjeta 3: Total Earnings -->
    <div class="metric-card">
      <div class="d-flex flex-col align-items-center">
        <div class="icon-cont">
          <mat-icon class="metric-icon">paid</mat-icon>
        </div>
        <div class="metric-content">
          <h3 class="metric-value">$18,500</h3>
          <p class="metric-label">Total Earnings</p>
        </div>
        <span class="metric-percentage positive">+8%</span>
      </div>
    </div>
  </div>