<div class="metric-container wrap">
    <!-- Tarjeta 1: Total Bookings -->
    <div class="metric-card">
      <div class="d-flex flex-col align-items-center">
        <div class="icon-cont">
          <mat-icon class="metric-icon">event_available</mat-icon>
        </div>
        <div class="metric-content">
          <p class="metric-label">Total Bookings</p>
          <h3 class="metric-value">1,200</h3> 
        </div>
        <span class="metric-percentage positive">+2.98%</span>
      </div>
    </div>
  
    <!-- Tarjeta 2: Total New Customers -->
    <div class="metric-card">
      <div class="d-flex flex-col align-items-center">
        <div class="icon-cont">
          <mat-icon class="metric-icon material-icons-outlined">person_add</mat-icon>
        </div>
        <div class="metric-content">
          <p class="metric-label">Total New Customers</p>
          <h3 class="metric-value">2,845</h3>
        </div>
        <span class="metric-percentage negative">-1.45%</span>
    </div>
    </div>
  
    <!-- Tarjeta 3: Total Earnings -->
    <div class="metric-card">
      <div class="d-flex flex-col align-items-center">
        <div class="icon-cont">
          <mat-icon class="metric-icon material-icons-outlined">paid</mat-icon>
        </div>
        <div class="metric-content">
          <p class="metric-label">Total Earnings</p>
          <h3 class="metric-value">$12,890</h3>
        </div>
        <span class="metric-percentage positive">+3.75%</span>
      </div>
    </div>
  </div>