<div class="two-column-layout">
    <div class="row">
      <!-- Columna principal (9/12) -->
      <div class="col-md-9">
        <div class="column-content">
          <h3>Columna Principal</h3>
          <p>Este es el contenido de la columna principal. Ocupa 9/12 del ancho del componente padre.</p>
        </div>
      </div>
  
      <!-- Columna secundaria (3/12) -->
      <div class="col-md-3">
        <div class="column-content">
          <h3>Columna Secundaria</h3>
          <p>Este es el contenido de la columna secundaria. Ocupa 3/12 del ancho del componente padre.</p>
        </div>
      </div>
    </div>
  </div>
  