.calendar-card {
    max-width: 300px; /* Ancho máximo del calendario */
    margin: 0px;
    border-radius: 8px;
    background-color: #ffffff;
  }
  
  .custom-calendar {
    width: 100%;
    border-radius: 8px;
  
    .mat-calendar-header {
      background-color: #ffffff; /* Azul oscuro */
      color: #ffffff;
      border-radius: 8px 8px 0 0;
    }
  
    .mat-calendar-body {
      padding: 8px;
  
      .mat-calendar-body-cell {
        border-radius: 50%;
      }
  
      .mat-calendar-body-selected {
        background-color: #3498db; 
        border-radius: 0px;
        color: #ffffff;
      }
  
      .mat-calendar-body-today {
        border-color: #ffffff; /* Azul oscuro */
      }
    }
  }

  .mat-mdc-card-content{
    background-color: white;
    border-style: none;
    box-shadow: none;
    padding: 0px;
  }

.mat-calendar-body-cell-content.mat-focus-indicator.mat-calendar-body-selected.mat-calendar-body-today{
  background-color: red;
}

.mat-calendar-body-selected{
  background-color: red;
}

.mat-calendar-body-label{
  display: none;
}

.mat-mdc-button-touch-target{
  width: 100px;
}