<mat-card class="calendar-card">
    <mat-card-content>
        <mat-calendar _ngcontent-ng-c4240208182="" class="mat-calendar custom-calendar"
            ng-reflect-start-at="Sun Feb 09 2025 14:45:48 GMT-0"
            ng-reflect-selected="Sun Feb 09 2025 14:45:48 GMT-0"><mat-calendar-header>
                <div class="mat-calendar-header">
                    <div class="mat-calendar-controls"><span aria-live="polite" class="cdk-visually-hidden"
                            id="mat-calendar-period-label-4">Feb 2025<mat-icon
                                class="material-icons-outlined">keyboard_arrow_down</mat-icon></span><button
                            mat-button="" type="button"
                            class="mat-calendar-period-button mdc-button mat-mdc-button mat-unthemed mat-mdc-button-base"
                            mat-ripple-loader-uninitialized="" mat-ripple-loader-class-name="mat-mdc-button-ripple"
                            aria-label="Choose month and year" aria-describedby="mat-calendar-period-label-4"><span
                                class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span
                                class="mdc-button__label"><span aria-hidden="true">Feb 2025</span><svg
                                    viewBox="0 0 10 5" focusable="false" aria-hidden="true" class="mat-calendar-arrow">
                                    <polygon points="0,0 5,5 10,0"></polygon>
                                </svg></span><span class="mat-focus-indicator"></span><span
                                class="mat-mdc-button-touch-target"></span></button>
                        <div class="mat-calendar-spacer"></div><button mat-icon-button="" type="button"
                            class="mat-calendar-previous-button mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base"
                            mat-ripple-loader-uninitialized="" mat-ripple-loader-class-name="mat-mdc-button-ripple"
                            mat-ripple-loader-centered="" ng-reflect-disabled="false" aria-label="Previous month"><span
                                class="mat-mdc-button-persistent-ripple mdc-icon-button__ripple"></span><svg
                                viewBox="0 0 24 24" focusable="false" aria-hidden="true">
                                <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
                            </svg><span class="mat-focus-indicator"></span><span
                                class="mat-mdc-button-touch-target"></span></button><button mat-icon-button=""
                            type="button"
                            class="mat-calendar-next-button mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base"
                            mat-ripple-loader-uninitialized="" mat-ripple-loader-class-name="mat-mdc-button-ripple"
                            mat-ripple-loader-centered="" ng-reflect-disabled="false" aria-label="Next month"><span
                                class="mat-mdc-button-persistent-ripple mdc-icon-button__ripple"></span><svg
                                viewBox="0 0 24 24" focusable="false" aria-hidden="true">
                                <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
                            </svg><span class="mat-focus-indicator"></span><span
                                class="mat-mdc-button-touch-target"></span></button>
                    </div>
                </div>
            </mat-calendar-header><!--bindings={
  "ng-reflect-portal": "[object Object]"
}-->
            <div cdkmonitorsubtreefocus="" tabindex="-1" class="mat-calendar-content"><mat-month-view
                    ng-reflect-active-date="Sun Feb 09 2025 14:45:48 GMT-0"
                    ng-reflect-selected="Sun Feb 09 2025 14:45:48 GMT-0">
                    <table role="grid" class="mat-calendar-table">
                        <thead class="mat-calendar-table-header">
                            <tr>
                                <th scope="col"><span class="cdk-visually-hidden">Sunday</span><span
                                        aria-hidden="true">S</span></th>
                                <th scope="col"><span class="cdk-visually-hidden">Monday</span><span
                                        aria-hidden="true">M</span></th>
                                <th scope="col"><span class="cdk-visually-hidden">Tuesday</span><span
                                        aria-hidden="true">T</span></th>
                                <th scope="col"><span class="cdk-visually-hidden">Wednesday</span><span
                                        aria-hidden="true">W</span></th>
                                <th scope="col"><span class="cdk-visually-hidden">Thursday</span><span
                                        aria-hidden="true">T</span></th>
                                <th scope="col"><span class="cdk-visually-hidden">Friday</span><span
                                        aria-hidden="true">F</span></th>
                                <th scope="col"><span class="cdk-visually-hidden">Saturday</span><span
                                        aria-hidden="true">S</span></th><!--container-->
                            </tr>
                            <tr aria-hidden="true">
                                <th colspan="7" class="mat-calendar-table-header-divider"></th>
                            </tr>
                        </thead>
                        <tbody mat-calendar-body="" class="mat-calendar-body"
                            ng-reflect-rows="[object Object],[object Object" ng-reflect-today-value="1739077200000"
                            ng-reflect-start-value="1739077200000" ng-reflect-end-value="1739077200000"
                            ng-reflect-is-range="false" ng-reflect-label-min-required-cells="3"
                            ng-reflect-active-cell="8"><!--container-->
                            <tr role="row">
                                <td class="mat-calendar-body-label" colspan="6"
                                    style="padding-top: 7.14286%; padding-bottom: 7.14286%;"> FEB </td><!--container-->
                                <td role="gridcell" class="mat-calendar-body-cell-container" data-mat-row="0"
                                    data-mat-col="0"
                                    style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;"><button
                                        type="button" class="mat-calendar-body-cell"
                                        ng-reflect-ng-class="[object Object]" tabindex="-1"
                                        aria-label="February 1, 2025" aria-pressed="false"><span
                                            class="mat-calendar-body-cell-content mat-focus-indicator"> 1 </span><span
                                            aria-hidden="true" class="mat-calendar-body-cell-preview"></span></button>
                                </td><!--container-->
                            </tr>
                            <tr role="row"><!--container-->
                                <td role="gridcell" class="mat-calendar-body-cell-container" data-mat-row="1"
                                    data-mat-col="0"
                                    style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;"><button
                                        type="button" class="mat-calendar-body-cell"
                                        ng-reflect-ng-class="[object Object]" tabindex="-1"
                                        aria-label="February 2, 2025" aria-pressed="false"><span
                                            class="mat-calendar-body-cell-content mat-focus-indicator"> 2 </span><span
                                            aria-hidden="true" class="mat-calendar-body-cell-preview"></span></button>
                                </td>
                                <td role="gridcell" class="mat-calendar-body-cell-container" data-mat-row="1"
                                    data-mat-col="1"
                                    style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;"><button
                                        type="button" class="mat-calendar-body-cell"
                                        ng-reflect-ng-class="[object Object]" tabindex="-1"
                                        aria-label="February 3, 2025" aria-pressed="false"><span
                                            class="mat-calendar-body-cell-content mat-focus-indicator"> 3 </span><span
                                            aria-hidden="true" class="mat-calendar-body-cell-preview"></span></button>
                                </td>
                                <td role="gridcell" class="mat-calendar-body-cell-container" data-mat-row="1"
                                    data-mat-col="2"
                                    style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;"><button
                                        type="button" class="mat-calendar-body-cell"
                                        ng-reflect-ng-class="[object Object]" tabindex="-1"
                                        aria-label="February 4, 2025" aria-pressed="false"><span
                                            class="mat-calendar-body-cell-content mat-focus-indicator"> 4 </span><span
                                            aria-hidden="true" class="mat-calendar-body-cell-preview"></span></button>
                                </td>
                                <td role="gridcell" class="mat-calendar-body-cell-container" data-mat-row="1"
                                    data-mat-col="3"
                                    style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;"><button
                                        type="button" class="mat-calendar-body-cell"
                                        ng-reflect-ng-class="[object Object]" tabindex="-1"
                                        aria-label="February 5, 2025" aria-pressed="false"><span
                                            class="mat-calendar-body-cell-content mat-focus-indicator"> 5 </span><span
                                            aria-hidden="true" class="mat-calendar-body-cell-preview"></span></button>
                                </td>
                                <td role="gridcell" class="mat-calendar-body-cell-container" data-mat-row="1"
                                    data-mat-col="4"
                                    style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;"><button
                                        type="button" class="mat-calendar-body-cell"
                                        ng-reflect-ng-class="[object Object]" tabindex="-1"
                                        aria-label="February 6, 2025" aria-pressed="false"><span
                                            class="mat-calendar-body-cell-content mat-focus-indicator"> 6 </span><span
                                            aria-hidden="true" class="mat-calendar-body-cell-preview"></span></button>
                                </td>
                                <td role="gridcell" class="mat-calendar-body-cell-container" data-mat-row="1"
                                    data-mat-col="5"
                                    style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;"><button
                                        type="button" class="mat-calendar-body-cell"
                                        ng-reflect-ng-class="[object Object]" tabindex="-1"
                                        aria-label="February 7, 2025" aria-pressed="false"><span
                                            class="mat-calendar-body-cell-content mat-focus-indicator"> 7 </span><span
                                            aria-hidden="true" class="mat-calendar-body-cell-preview"></span></button>
                                </td>
                                <td role="gridcell" class="mat-calendar-body-cell-container" data-mat-row="1"
                                    data-mat-col="6"
                                    style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;"><button
                                        type="button" class="mat-calendar-body-cell"
                                        ng-reflect-ng-class="[object Object]" tabindex="-1"
                                        aria-label="February 8, 2025" aria-pressed="false"><span
                                            class="mat-calendar-body-cell-content mat-focus-indicator"> 8 </span><span
                                            aria-hidden="true" class="mat-calendar-body-cell-preview"></span></button>
                                </td><!--container-->
                            </tr>
                            <tr role="row"><!--container-->
                                <td role="gridcell" class="mat-calendar-body-cell-container" data-mat-row="2"
                                    data-mat-col="0"
                                    style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;"><button
                                        type="button" class="mat-calendar-body-cell mat-calendar-body-active"
                                        ng-reflect-ng-class="[object Object]" tabindex="0" aria-label="February 9, 2025"
                                        aria-pressed="true" aria-current="date"><span
                                            class="mat-calendar-body-cell-content mat-focus-indicator mat-calendar-body-selected mat-calendar-body-today">
                                            9 </span><span aria-hidden="true"
                                            class="mat-calendar-body-cell-preview"></span></button></td>
                                <td role="gridcell" class="mat-calendar-body-cell-container" data-mat-row="2"
                                    data-mat-col="1"
                                    style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;"><button
                                        type="button" class="mat-calendar-body-cell"
                                        ng-reflect-ng-class="[object Object]" tabindex="-1"
                                        aria-label="February 10, 2025" aria-pressed="false"><span
                                            class="mat-calendar-body-cell-content mat-focus-indicator"> 10 </span><span
                                            aria-hidden="true" class="mat-calendar-body-cell-preview"></span></button>
                                </td>
                                <td role="gridcell" class="mat-calendar-body-cell-container" data-mat-row="2"
                                    data-mat-col="2"
                                    style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;"><button
                                        type="button" class="mat-calendar-body-cell"
                                        ng-reflect-ng-class="[object Object]" tabindex="-1"
                                        aria-label="February 11, 2025" aria-pressed="false"><span
                                            class="mat-calendar-body-cell-content mat-focus-indicator"> 11 </span><span
                                            aria-hidden="true" class="mat-calendar-body-cell-preview"></span></button>
                                </td>
                                <td role="gridcell" class="mat-calendar-body-cell-container" data-mat-row="2"
                                    data-mat-col="3"
                                    style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;"><button
                                        type="button" class="mat-calendar-body-cell"
                                        ng-reflect-ng-class="[object Object]" tabindex="-1"
                                        aria-label="February 12, 2025" aria-pressed="false"><span
                                            class="mat-calendar-body-cell-content mat-focus-indicator"> 12 </span><span
                                            aria-hidden="true" class="mat-calendar-body-cell-preview"></span></button>
                                </td>
                                <td role="gridcell" class="mat-calendar-body-cell-container" data-mat-row="2"
                                    data-mat-col="4"
                                    style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;"><button
                                        type="button" class="mat-calendar-body-cell"
                                        ng-reflect-ng-class="[object Object]" tabindex="-1"
                                        aria-label="February 13, 2025" aria-pressed="false"><span
                                            class="mat-calendar-body-cell-content mat-focus-indicator"> 13 </span><span
                                            aria-hidden="true" class="mat-calendar-body-cell-preview"></span></button>
                                </td>
                                <td role="gridcell" class="mat-calendar-body-cell-container" data-mat-row="2"
                                    data-mat-col="5"
                                    style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;"><button
                                        type="button" class="mat-calendar-body-cell"
                                        ng-reflect-ng-class="[object Object]" tabindex="-1"
                                        aria-label="February 14, 2025" aria-pressed="false"><span
                                            class="mat-calendar-body-cell-content mat-focus-indicator"> 14 </span><span
                                            aria-hidden="true" class="mat-calendar-body-cell-preview"></span></button>
                                </td>
                                <td role="gridcell" class="mat-calendar-body-cell-container" data-mat-row="2"
                                    data-mat-col="6"
                                    style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;"><button
                                        type="button" class="mat-calendar-body-cell"
                                        ng-reflect-ng-class="[object Object]" tabindex="-1"
                                        aria-label="February 15, 2025" aria-pressed="false"><span
                                            class="mat-calendar-body-cell-content mat-focus-indicator"> 15 </span><span
                                            aria-hidden="true" class="mat-calendar-body-cell-preview"></span></button>
                                </td><!--container-->
                            </tr>
                            <tr role="row"><!--container-->
                                <td role="gridcell" class="mat-calendar-body-cell-container" data-mat-row="3"
                                    data-mat-col="0"
                                    style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;"><button
                                        type="button" class="mat-calendar-body-cell"
                                        ng-reflect-ng-class="[object Object]" tabindex="-1"
                                        aria-label="February 16, 2025" aria-pressed="false"><span
                                            class="mat-calendar-body-cell-content mat-focus-indicator"> 16 </span><span
                                            aria-hidden="true" class="mat-calendar-body-cell-preview"></span></button>
                                </td>
                                <td role="gridcell" class="mat-calendar-body-cell-container" data-mat-row="3"
                                    data-mat-col="1"
                                    style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;"><button
                                        type="button" class="mat-calendar-body-cell"
                                        ng-reflect-ng-class="[object Object]" tabindex="-1"
                                        aria-label="February 17, 2025" aria-pressed="false"><span
                                            class="mat-calendar-body-cell-content mat-focus-indicator"> 17 </span><span
                                            aria-hidden="true" class="mat-calendar-body-cell-preview"></span></button>
                                </td>
                                <td role="gridcell" class="mat-calendar-body-cell-container" data-mat-row="3"
                                    data-mat-col="2"
                                    style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;"><button
                                        type="button" class="mat-calendar-body-cell"
                                        ng-reflect-ng-class="[object Object]" tabindex="-1"
                                        aria-label="February 18, 2025" aria-pressed="false"><span
                                            class="mat-calendar-body-cell-content mat-focus-indicator"> 18 </span><span
                                            aria-hidden="true" class="mat-calendar-body-cell-preview"></span></button>
                                </td>
                                <td role="gridcell" class="mat-calendar-body-cell-container" data-mat-row="3"
                                    data-mat-col="3"
                                    style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;"><button
                                        type="button" class="mat-calendar-body-cell"
                                        ng-reflect-ng-class="[object Object]" tabindex="-1"
                                        aria-label="February 19, 2025" aria-pressed="false"><span
                                            class="mat-calendar-body-cell-content mat-focus-indicator"> 19 </span><span
                                            aria-hidden="true" class="mat-calendar-body-cell-preview"></span></button>
                                </td>
                                <td role="gridcell" class="mat-calendar-body-cell-container" data-mat-row="3"
                                    data-mat-col="4"
                                    style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;"><button
                                        type="button" class="mat-calendar-body-cell"
                                        ng-reflect-ng-class="[object Object]" tabindex="-1"
                                        aria-label="February 20, 2025" aria-pressed="false"><span
                                            class="mat-calendar-body-cell-content mat-focus-indicator"> 20 </span><span
                                            aria-hidden="true" class="mat-calendar-body-cell-preview"></span></button>
                                </td>
                                <td role="gridcell" class="mat-calendar-body-cell-container" data-mat-row="3"
                                    data-mat-col="5"
                                    style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;"><button
                                        type="button" class="mat-calendar-body-cell"
                                        ng-reflect-ng-class="[object Object]" tabindex="-1"
                                        aria-label="February 21, 2025" aria-pressed="false"><span
                                            class="mat-calendar-body-cell-content mat-focus-indicator"> 21 </span><span
                                            aria-hidden="true" class="mat-calendar-body-cell-preview"></span></button>
                                </td>
                                <td role="gridcell" class="mat-calendar-body-cell-container" data-mat-row="3"
                                    data-mat-col="6"
                                    style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;"><button
                                        type="button" class="mat-calendar-body-cell"
                                        ng-reflect-ng-class="[object Object]" tabindex="-1"
                                        aria-label="February 22, 2025" aria-pressed="false"><span
                                            class="mat-calendar-body-cell-content mat-focus-indicator"> 22 </span><span
                                            aria-hidden="true" class="mat-calendar-body-cell-preview"></span></button>
                                </td><!--container-->
                            </tr>
                            <tr role="row"><!--container-->
                                <td role="gridcell" class="mat-calendar-body-cell-container" data-mat-row="4"
                                    data-mat-col="0"
                                    style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;"><button
                                        type="button" class="mat-calendar-body-cell"
                                        ng-reflect-ng-class="[object Object]" tabindex="-1"
                                        aria-label="February 23, 2025" aria-pressed="false"><span
                                            class="mat-calendar-body-cell-content mat-focus-indicator"> 23 </span><span
                                            aria-hidden="true" class="mat-calendar-body-cell-preview"></span></button>
                                </td>
                                <td role="gridcell" class="mat-calendar-body-cell-container" data-mat-row="4"
                                    data-mat-col="1"
                                    style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;"><button
                                        type="button" class="mat-calendar-body-cell"
                                        ng-reflect-ng-class="[object Object]" tabindex="-1"
                                        aria-label="February 24, 2025" aria-pressed="false"><span
                                            class="mat-calendar-body-cell-content mat-focus-indicator"> 24 </span><span
                                            aria-hidden="true" class="mat-calendar-body-cell-preview"></span></button>
                                </td>
                                <td role="gridcell" class="mat-calendar-body-cell-container" data-mat-row="4"
                                    data-mat-col="2"
                                    style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;"><button
                                        type="button" class="mat-calendar-body-cell"
                                        ng-reflect-ng-class="[object Object]" tabindex="-1"
                                        aria-label="February 25, 2025" aria-pressed="false"><span
                                            class="mat-calendar-body-cell-content mat-focus-indicator"> 25 </span><span
                                            aria-hidden="true" class="mat-calendar-body-cell-preview"></span></button>
                                </td>
                                <td role="gridcell" class="mat-calendar-body-cell-container" data-mat-row="4"
                                    data-mat-col="3"
                                    style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;"><button
                                        type="button" class="mat-calendar-body-cell"
                                        ng-reflect-ng-class="[object Object]" tabindex="-1"
                                        aria-label="February 26, 2025" aria-pressed="false"><span
                                            class="mat-calendar-body-cell-content mat-focus-indicator"> 26 </span><span
                                            aria-hidden="true" class="mat-calendar-body-cell-preview"></span></button>
                                </td>
                                <td role="gridcell" class="mat-calendar-body-cell-container" data-mat-row="4"
                                    data-mat-col="4"
                                    style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;"><button
                                        type="button" class="mat-calendar-body-cell"
                                        ng-reflect-ng-class="[object Object]" tabindex="-1"
                                        aria-label="February 27, 2025" aria-pressed="false"><span
                                            class="mat-calendar-body-cell-content mat-focus-indicator"> 27 </span><span
                                            aria-hidden="true" class="mat-calendar-body-cell-preview"></span></button>
                                </td>
                                <td role="gridcell" class="mat-calendar-body-cell-container" data-mat-row="4"
                                    data-mat-col="5"
                                    style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;"><button
                                        type="button" class="mat-calendar-body-cell"
                                        ng-reflect-ng-class="[object Object]" tabindex="-1"
                                        aria-label="February 28, 2025" aria-pressed="false"><span
                                            class="mat-calendar-body-cell-content mat-focus-indicator"> 28 </span><span
                                            aria-hidden="true" class="mat-calendar-body-cell-preview"></span></button>
                                </td><!--container-->
                            </tr><!--container--><span class="mat-calendar-body-hidden-label"
                                id="mat-calendar-body-start-4">
                            </span><span class="mat-calendar-body-hidden-label" id="mat-calendar-body-end-4">
                            </span><span class="mat-calendar-body-hidden-label"
                                id="mat-calendar-body-comparison-start-4"> Comparison range
                            </span><span class="mat-calendar-body-hidden-label" id="mat-calendar-body-comparison-end-4">
                                Comparison range
                            </span>
                        </tbody>
                    </table>
                </mat-month-view><!--container--><!--container--><!--container--></div>
        </mat-calendar>
    </mat-card-content>
</mat-card>