<div class="card p-2">
    <div class="trips-metrics-container">
     
        <div class="d-flex">
            <div class="icon-cont p-1" >
                <span class="metric-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#348ABF"><path d="M394.33-117.67 298-298.33l-181.33-97 63-62.67 147 26.33L442-546.33 118.33-684l76-76.67L586.67-692l130-130q21.66-21.67 52.66-21.67 31 0 52.67 21.67t21.67 52.5q0 30.83-21.67 52.5L691.67-586.67l68.66 392L684-118.33 546-442 431.33-326.67l26 146-63 63Z"/></svg>
                </span>
            </div>
            <div class="metric-content">
                <p class="metric-label">Total Trips</p>
                <h3 class="metric-value">1,200</h3> 
            </div>
        </div>


        

        <div class="d-flex flex-column w-75">
            <div class="progress w-100">
                <div class="progress-bar" role="progressbar" style="width: 51.6%; background-color: #e8f4fe;" aria-valuenow="51.6" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar" role="progressbar" style="width: 38.75%; background-color:  #b8e1fe;" aria-valuenow="38.75" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar" role="progressbar" style="width: 9.58%; background-color: #43aaff;" aria-valuenow="9.58" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="d-flex w-100 no-wrap justify-content-around align-items-center p-1">
                <span class="metric-label"><span style="background-color: #e8f4fe; color: #e8f4fe; border-radius: 3px;" class="label-icon">--.</span> Done <span class="value-label">620</span></span>
                <span class="metric-label"><span style="background-color: #b8e1fe; color: #b8e1fe; border-radius: 3px;" class="label-icon">--.</span> Booked <span class="value-label">485</span></span>
                <span class="metric-label"><span style="background-color: #43aaff; color: #43aaff; border-radius: 3px;" class="label-icon">--.</span> Canceled <span class="value-label">115</span></span>
            </div>
        </div>

    </div>
</div>
