<div class="news-cards">
    <div class="row">
      <!-- Tarjeta 1 -->
      <div class="col-12 mb-3" *ngFor="let plan of plans">
        <div class="card news-card">
          <div class="row g-0">
            <!-- Miniatura del destino -->
            <div class="col-4">
              <img [src]="plan.image" class="img-fluid rounded-start" alt="Destino">
            </div>
            <!-- Nombre del destino y plan -->
            <div class="col-8">
              <div class="card-body">
                <h6 class="card-title">{{ plan.destination }}</h6>
                <p class="card-text">{{ plan.planName }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>