.news-cards {
    padding: 8px;
  }

  .upcoming-trips-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
  }
  
  .icon-add{
    color: white;
    background-color: #41AEF2;
    border-radius: 6px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  
  .card-upcoming-travel{
    padding: 5px;
  }

  .card-upcoming-travel:hover{
    border-radius: 12px;
    background-color: #b7dfff28;
    width: 100%;
  }

  .card-container{
    display: flex;
    width: 100%;

  }

  .image-container{
    border-radius: 12px;
    

  }

  .card-container img{
    border-radius: 12px;
    object-fit: cover;
    width: 65px;
    height: 65px;
  }


  .upcoming-card-body{
    padding: 3px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .plan-name{
    padding: 2px;
    font-size: 0.6rem;
    background-color: #E8F5FE;
    border-radius: 3px;
    width: fit-content;
  }

  .card-upcoming-travel:hover .card-container .upcoming-card-body .plan-name{
    background-color: white;
  } 

  .destination{
    font-size: 1rem;
  }

  .date{
    height: 10px;
    display: flex;
    align-items: baseline;
  }

  .date-string{
    font-size: 0.6rem;
  }

  .booked-section{
    display: flex;
    justify-content: space-between;
  }

  .booked-pictures{
    display: flex;
  }

  .booked-pictures img{
    width: 10px;
    height: 10px;
    object-fit: cover;
  }

  .plus-users{
    font-size: 0.6rem;
    margin-right: 10px;
  }