.card {
    border: none;
  }

  .card-body{
    padding: 0px;
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 1rem;
    color: #666;
  }

  /* Estilos por defecto para pantallas grandes (por encima de 992px) */
  .right-column {
      display: block;
      padding: 16px 10px 15px 0px;
    }
    
  .right-column-content{
    border-width: 1px;
    border-radius: 8px;
    border-color: #9995955e;
    border-style: groove;
  }
  /* Media Query para pantallas menores a 992px */
  @media (max-width: 992px) {
    .right-column {
      display: none; /* Ocultar la columna secundaria en pantallas más pequeñas */
    }
  
    /* Puedes hacer otros ajustes como la disposición de las tarjetas, etc. */
    .col-md-9 {
      width: 100%; /* Hacer que la columna principal ocupe el 100% del ancho */
    }
  }
  
 