<div class="chart-container con-chart">
    <div class="row">
      <!-- Columna para la gráfica de líneas -->
      <div class="col-md-6">
        <div class="chart-card">
          <div class="chart-placeholder">
            <!-- Aquí irá la gráfica de líneas -->
            <app-revenue-overview-chart></app-revenue-overview-chart>
          </div>
        </div>
      </div>
  
      <!-- Columna para el gráfico circular -->
      <div class="col-md-6">
        <div class="chart-card">
          <div class="chart-placeholder">
            <!-- Aquí irá el gráfico circular -->
            <app-top-destinations-chart></app-top-destinations-chart>
          </div>
        </div>
      </div>
    </div>
  </div>