<div class="chart-container con-chart">
    <div class="row">
      <!-- Columna para la gráfica de líneas -->
      <div class="col-md-7" >    
        <div class="revenue-chart" style="border: 1px solid #9995955e; border-radius: 16px;">
          <app-revenue-overview-chart></app-revenue-overview-chart>
        </div>
      </div>
  
      <!-- Columna para el gráfico circular -->
      <div class="col-md-5">
        <div class="destination-chart">
          <app-top-destinations-chart></app-top-destinations-chart>
        </div>
      </div>
    </div>
  </div>