<div class="chart-container con-chart">
    <div class="row" style="padding-right: 12px;">
      <!-- Columna para la gráfica de líneas -->
      <div class="col-md-7" style="padding-right: 15px;">    
        <div class="revenue-chart" style="border: 1px solid #9995955e; border-radius: 16px; height: 250px;">
          <app-revenue-overview-chart></app-revenue-overview-chart>
        </div>
      </div>
  
      <!-- Columna para el gráfico circular -->
      <div class="col-md-5 p-0">
        <div class="destination-chart">
          <app-top-destinations-chart></app-top-destinations-chart>
        </div>
      </div>
    </div>
  </div>