.messages-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;
    border-width: 1px;
    border-radius: 9px;
    border-color: hsla(0, 2%, 59%, 0.369);
    border-style: solid;
  }

  .card-content-msg:hover{
    background-color: #b7dfff28;
    border-radius: 6px;
  }

  .card-header{
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
  }

  .user-img{
    border-radius: 15px;
    padding: 0px;
  }

  .message-card-body  {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }

  .preview{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 15px;
  }

  .preview-msg{
    font-size: 0.6rem;
  }
  .username{
    font-size: 0.8rem;
    font-weight: 500;
  }

  .alert{
    background-color: #348ABF;
    padding: 1px;
    margin: 1px;
    height: 17px;
    width: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-message{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .msg-time{
    font-size: 0.5rem;
    color: #348ABF;
  }

  .alert-number{
    font-size: 0.6rem;
    color: white;
  }


  
  /* Responsive Design */
  